services:
  query-the-pdf-frontend:
    build:
      context: ./
      dockerfile: Dockerfile.frontend
    image: query-the-pdf-frontend-image:latest
    ports:
      - "8080:8080"
    restart: always
    container_name: query-the-pdf-frontend-container
    environment:
      - NEXT_PUBLIC_ASK_THE_PDF_API_URL=https://cross-be-pdf-rag.industrysolutions.staging.corp.mongodb.com
    