unstructured[pdf]
opencv-python-headless==4.8.0.74
sentence-transformers
superduperdb
python-dotenv
click
tqdm
aiohttp
openai
uvicorn
fastapi
langchain_community==0.0.27
langchain_openai==0.0.8
langchain==0.1.9
Pillow==10.2.0
pymongo==4.6.2
torchvision==0.17.1